<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> 
    </title>
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body>
    <div id="header">
        <a id="home" class="row btn" href="/">Home</a>
        <h1 class="row">ISSUE TRACKER</h1>
        <a id="create-project" class="row btn" href="/create-project">Create Project</a>
    </div>
    <%-body%>
</body>

</html>